.app-body {
    background-color: #F5F6FA;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 0.875rem;
    color: white;
}
.body-container {
    margin-top: 1.875rem;
    width: 62.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
a.train-filter{
    position: relative;
    display: inline-block;
    width: 7.5rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    color: #4C84FF;
    border: 1px solid #EDEDF1;
}
a.train-filter ul{
    display: none;
    position: absolute;
    left: 0;
    top: 3.125rem;
    background-color: #fff;
}
a.train-filter ul li{
    display: block;
    width: 7.5rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
}
a.train-filter ul li span{
    display: inline-block;
    width: 7.5rem;
    height: 1.25rem;
    line-height: 1.25rem;
}
a.train-filter ul li:hover span {
    color: #4C84FF;
    border-left: 3px solid #4C84FF;
}
a.train-filter:hover ul{
    display: block;
}
span.filter-active{
    color: #4C84FF;
    border-left: 3px solid #4C84FF;
}
.create-date {
    display: inline-block;
    width: 7.5rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    color: #4C84FF;
    border: 1px solid #EDEDF1;
}
.search-input {
    width: 40rem;
    height: 3.125rem;
    background-color:#fff;
    border: 1px solid #EDEDF1;
    padding-left: 1.875rem;
}
.create-btn {
    background-color: #4C84FF;
    color: #fff;
    width: 7.5rem;
    height: 3.125rem;
    cursor: pointer;
}
.train-list-container {
    padding: 0 1.875rem;
}
dl.train-list dt, dl.train-list dd{
    border-bottom: 1px solid #EDEDF1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
dl.train-list dt span, dl.train-list dd span{
    display:inline-block;
    height: 3.125rem;
    line-height: 3.125rem;
}
dl.train-list dd span {
    color:#19233C;
}
dl.train-list dd span i{
    color: #FE5462;
    font-style: normal;
}
dl.train-list dt span:nth-child(1), dl.train-list dd span:nth-child(1){
    width:2.625rem;
}
dl.train-list dt span:nth-child(2), dl.train-list dd span:nth-child(2){
    width:1.75rem;
}
dl.train-list dt span:nth-child(3), dl.train-list dd span:nth-child(3){
    width:6.9375rem;
}
dl.train-list dt span:nth-child(4), dl.train-list dd span:nth-child(4){
    width:7.5rem;
}
dl.train-list dt span:nth-child(5), dl.train-list dd span:nth-child(5){
    width:21.875rem;
}
dl.train-list dt span:nth-child(6), dl.train-list dd span:nth-child(6){
    width:4.125rem;
}
.train-page-btn {
    display: flex;
    flex-direction: row-reverse;
    padding:0 1.875rem;
}
.train-page-btn span{
    display: inline-block;
    height: 3.125rem;
    line-height: 3.125rem;
    margin-left: 1.875rem;
    cursor: pointer;
}