.app-header {
    width: 100vw;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.app-header h1{
    color:#4C84FF;
    font-size: 1.125rem;
    font-weight: normal;
    margin-left: 1.25rem;
    padding-left: 2.325rem;
    background: url('../../assets/imgs/logo.jpg') no-repeat left center;
}
.app-header h1 span{
    margin-left: 0.3125rem;
}
.nav-btn a{
    border:none;
    background-color: #fff;
    margin: 0 1.25rem;
    display: inline-block;
    line-height: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
}
a.active {
    color: #4C84FF;
    border-bottom: 2px solid #4C84FF;
}
.info-list i{
    margin-right: 1.875rem;
    cursor: pointer;
}
.info-head {
    display: inline-block;
    width: 12rem;
    height: 3.75rem;
    line-height: 3.75rem;
    background:url('../../assets/imgs/head_test.jpg') no-repeat left center;
}
.info-bell {
    display: inline-block;
    width: 1.25rem;
    height: 3.75rem;
    background:url('../../assets/imgs/bell.jpg') no-repeat center center;
}
.info-exit {
    display: inline-block;
    width: 1.25rem;
    height: 3.75rem;
    background:url('../../assets/imgs/exit.jpg') no-repeat center center;
}